<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/styles.css">    
</head>
<body>

{{>staffNavbar}}
    
    <div class="user-hero">
        <h1>Student applications</h1>

        <div class="filter-apps">
            <form action="/staff/applications" method="GET">
                <label for="filter">Filter by applications status:</label>
                <select name="filter" id="filter" onchange="this.form.submit()">
                    {{#if noFilter}}
                    <option>All applications</option>
                    {{#each status as |value key|}}
                    <option>{{{value.app_status}}}</option>
                    {{/each}}
                    {{else}}
                    <option>{{{filter}}}</option>
                    {{#each status as |value key|}}
                    <option>{{{value.app_status}}}</option>
                    {{/each}}
                    <option>All applications</option>
                    {{/if}}
                </select>
            </form>
        </div>

        {{#if noApps}}
        <div class="no-apps">
            <p>No applications currently have the status: '{{{filter}}}'</p>

            <form action="/staff" method="GET">
                <button type="submit" class="btn btn-primary">Search agin</button>
            </form>
        </div>

        {{else}}

        {{#each apps as |value key|}}
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Student name</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">{{{value.role}}}</h5>
                <p class="card-text">{{{value.description}}}</p>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>       
        

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{>footer}} 
</body>
</html>