<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>    
</head>
<body>

{{>studentNavbar}}
    
    <div class="user-hero">
        <div class="student-applications-container">
            <h1>Edit or delete an application</h1>
            {{#if result}}            
            {{!-- <div class="applications-table-container">
                <table>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>Organisation</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Date application submitted</th>
                        <th>Application deadline</th>
                        <th>Description</th>
                        <th>Application status</th>
                        <th>Last updated</th>
                    </tr>                    
                    {{#each apps as |value key|}}
                    <tr>
                        <td>{{{value.f_name}}}</td>
                        <td>{{{value.l_name}}}</td>
                        <td>{{{value.role}}}</td>
                        <td>{{{value.organisation}}}</td>
                        <td>{{{value.city}}}</td>
                        <td>{{{value.country}}}</td>
                        <td>{{{value.app_date}}}</td>
                        <td>{{{value.deadline}}}</td>
                        <td>{{{value.description}}}</td>
                        <td>{{{value.app_status}}}</td>
                        <td>{{{value.last_updated}}}</td>
                    </tr>
                    <br>
                
                    {{/each}}                  
                </table>
            </div> --}}
                {{#each apps as |value key|}}
                                    
                <div class="card text-white mb-3">
                    <div class="card-header">Created by: {{{value.f_name}}} {{{value.l_name}}}</div>
                    <div class="card-body">
                        <div class="row">                         
                            <div class="card-info col-sm-6">
                                <div class="row">
                                    <h3 class="card-title">Role / Programme:</h3>
                                    <textarea>{{{value.role}}}</textarea>
                                </div>
                                <div class="row">
                                    <h5 class="card-text">Organisation:</h5>
                                    <textarea>{{{value.organisation}}}</textarea>
                                </div>
                                <div class="row">
                                    <p class="card-text">City:</p>
                                    <textarea>{{{value.city}}}</textarea>
                                </div>
                                <div class="row">
                                    <p class="card-text">Country:</p>
                                    <textarea>{{{value.country}}}</textarea>
                                </div>
                                <div class="row">
                                    <p class="card-text"></p>
                                    <textarea>{{{value.description}}}</textarea>
                                </div>
                            </div>
                            <div class="card-dates col-sm-6">
                                <div class="row">
                                    {{!-- <p class="card-text">Application submitted: {{{value.app_date}}}</p> --}}
                                    <label for="appdate">Application submission date:</label>
                                        <div class="input-group date" id="app-datepicker">
                                            <input type="text" class="form-control" id="appdatepicker" name="appdate">
                                            <span class="input-group-append">
                                                <span class="input-group-text bg-white">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </span>
                                        </div>
                                </div>
                                <div class="row">
                                    <p class="card-text">Application deadline: {{{value.deadline}}}</p>
                                    <label for="deadline">Application deadline:</label>
                                    <div class="input-group date" id="dl-datepicker">
                                        <input type="text" class="form-control" id="dldatepicker" name="deadline">
                                        <span class="input-group-append">
                                            <span class="input-group-text bg-white">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-text">Application status: {{{value.app_status}}}</p>
                                    <label for="appstatus">Application status:</label>                    
                                    <select class="form-control" id="appstatus" name="appstatus">
                                        <option selected>{{{value.app_status}}}</option>
                                        <option>Interested</option>
                                        <option>Applied</option>
                                        <option>Online tests</option>
                                        <option>Assessment centre</option>
                                        <option>Interview</option>
                                        <option>Accepted</option>
                                        <option>Rejected</option>
                                    </select>
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                    <div class="card-footer">
                        <small>Last updated: {{{value.last_updated}}}</small>
                    </div>
                </div>
                    <div class="row buttons-row">
                        <div class="back-button-container">
                            <form action="/student/application" method="GET">
                                <button type="submit" class="col btn btn-warning">Back to dashboard</button>
                            </form>
                        </div>
                        <div class="edit-button-container">
                            <form action="/student/applications/edit/{{{value.app_id}}}?_method=PUT" method="POST">
                                <button type="submit" class="col btn btn-primary">Edit</button>
                            </form>                            
                        </div>
                        <div class="delete-button-container">
                            <form action="/student/applications/edit/{{{value.app_id}}}?_method=DELETE" method="POST">
                                <button type="submit" class="col btn btn-danger">Delete</button>
                            </form>                            
                        </div>           
                    </div>
                          
                
                {{/each}}
                            
            
            {{else}}
            <div class="no-results-container">
                <p>You currently have no applications.</p>
            </div>
            {{/if}}
        </div>                            
    </div>

    <script type="text/javascript">
        $(function() {
            $('#app-datepicker').datepicker();
        });
        $(function() {
            $('#dl-datepicker').datepicker();
        });
    </script>       
        

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{>footer}} 
</body>
</html>