<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>

{{>staffNavbar}}

    <h1 class="apps-header">Student insights</h1>

    <div class="apps-container">

        <h3>Unsubmitted applications with deadlines this week</h3>
        
        {{#if noDeadlines}}

        <p>There are no unsubmitted applications due this week.</p>

        {{else}}
               
        <table>            
            <tr>
                <th>Name</th>                
                <th>Student ID</th>
                <th>Email</th>
                <th>Course</th>
                <th>Role / Programme</th>
                <th>Organisation</th>
                <th>Deadline</th>
            </tr>
            {{#each deadlines as |value key|}}
            <tr>
                <td>{{{value.f_name}}} {{{value.l_name}}}</td>
                <td>{{{value.student_id}}}</td>
                <td>{{{value.email}}}</td>
                <td>{{{value.course}}}</td>
                <td>{{{value.role}}}</td>
                <td>{{{value.organisation}}}</td>
                <td>{{{value.deadline}}}</td>                
            </tr>
            {{/each}}
        </table>        
        {{/if}}

        <h3>Accepted applications updated this week</h3>

        {{#if noAppsAcc}}

        <p>There have been no accepted applications updated this week.</p>

        {{else}}

        <table>            
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Email</th>
                <th>Role</th>
                <th>Organisation</th>
                <th>City</th>
                <th>Country</th>
                <th>Last updated</th>
            </tr>
            {{#each appsAcc as |value key|}}
            <tr>
                <td>{{{value.f_name}}} {{{value.l_name}}}</td>
                <td>{{{value.student_id}}}</td>
                <td>{{{value.email}}}</td>
                <td>{{{value.role}}}</td>
                <td>{{{value.organisation}}}</td>
                <td>{{{value.city}}}</td>
                <td>{{{value.country}}}</td>
                <td>{{{value.last_updated}}}</td>
                <td>
                    <form action="results/{{{value.app_id}}}" method="GET">
                        <button type="submit" class="btn btn-primary">View application</button>                            
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
        {{/if}}

        <h3>Rejected applications updated this week</h3>

        {{#if noAppsRej}}
        
        <p>There have been no rejected applications updated this week.</p>

        {{else}}

        <table>            
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Email</th>
                <th>Role</th>
                <th>Organisation</th>
                <th>City</th>
                <th>Country</th>
                <th>Last updated</th>
            </tr>
            {{#each appsRej as |value key|}}
            <tr>
                <td>{{{value.f_name}}} {{{value.l_name}}}</td>
                <td>{{{value.student_id}}}</td>
                <td>{{{value.email}}}</td>
                <td>{{{value.role}}}</td>
                <td>{{{value.organisation}}}</td>
                <td>{{{value.city}}}</td>
                <td>{{{value.country}}}</td>
                <td>{{{value.last_updated}}}</td>
                <td>
                    <form action="results/{{{value.app_id}}}" method="GET">
                        <button type="submit" class="btn btn-primary">View application</button>                            
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
        {{/if}}

        <h3>Students with most applications submitted</h3>

        <table>            
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Number of applications</th>
            </tr>
            {{#each mostApps as |value key|}}
            <tr>
                <td>{{{value.f_name}}} {{{value.l_name}}}</td>
                <td>{{{value.student_id}}}</td>
                <td>{{{value.num_apps}}}</td>                               
            </tr>
            {{/each}}
        </table>

        <h3>Students who have not submitted any applications</h3>

        <table>            
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Email</th>
            </tr>
            {{#each noApps as |value key|}}
            <tr>
                <td>{{{value.f_name}}} {{{value.l_name}}}</td>
                <td>{{{value.student_id}}}</td>
                <td>{{{value.email}}}</td>
            </tr>
            {{/each}}
        </table>

        <h3>Students with the most placement offers</h3>

        <table>            
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Email</th>
                <th>Offers</th>
            </tr>
            {{#each mostOffers as |value key|}}
            <tr>
                <td>{{{value.f_name}}} {{{value.l_name}}}</td>
                <td>{{{value.student_id}}}</td>
                <td>{{{value.email}}}</td>
                <td>{{{value.apps_accepted}}}</td>
            </tr>
            {{/each}}
        </table>

        <h3>Students who have not yet received a placement offer</h3>

        <table>            
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Email</th>
            </tr>
            {{#each noOffers as |value key|}}
            <tr>
                <td>{{{value.f_name}}} {{{value.l_name}}}</td>
                <td>{{{value.student_id}}}</td>
                <td>{{{value.email}}}</td>
            </tr>
            {{/each}}
        </table>

        <h3>Employers with most applicants</h3>

        <table>            
            <tr>
                <th>Organisation</th>
                <th>Number of applicants</th>
            </tr>
            {{#each empMostApps as |value key|}}
            <tr>
                <td>{{{value.organisation}}}</td>
                <td>{{{value.num_apps}}}</td>
            </tr>
            {{/each}}
        </table>

        <h3>Employers with most placement offers</h3>

        <table>            
            <tr>
                <th>Organisation</th>
                <th>Number of offers</th>
            </tr>
            {{#each empMostOffers as |value key|}}
            <tr>
                <td>{{{value.organisation}}}</td>
                <td>{{{value.accepted_apps}}}</td>
            </tr>
            {{/each}}
        </table>

        <h3>Employers with highest percentage of offers to applications</h3>

        <table>            
            <tr>
                <th>Organisation</th>
                <th>Offers to applications</th>
            </tr>
            {{#each empHighPerc as |value key|}}
            <tr>
                <td>{{{value.organisation}}}</td>
                <td>{{{value.perc_offers}}}%</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{>footer}} 
</body>
</html>